<a href="javascript:void(0)" id="address_link">Buscar Dirección</a>

<div id="respuesta"></div>
<script>
$("document").ready(function(){

	var x = document.getElementById("respuesta");
	
	if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
	
	function showPosition(position) {
	    var latitude = position.coords.latitude;
	    var longitude = position.coords.longitude; 
		$("#address_link").attr("href", "/pages/get_address?latitude=" + latitude + "&longitude=" + longitude);
	}
});
</script>